body{
    background-color: gainsboro;
  }
  
/* nav */
.navbar-logo img{
    height: 37px;
}

.navbar-brand{
    font-size: 26px;
    font-weight: 40;
    margin-left: 6px;
}

.navbar {
    background-color: white;
    min-width: 500px;
    width:67%;
    margin: auto;
}

.navbar-nav{
    font-weight:300;
    font-size:20px;
    margin-left:10px;
}

/* TABLE CSS */
table, th, td {
    border:1px solid black;
}

th { 
    background-color: #9A7197; 
    color: #AFD2E9;   
}
/* 
td { 
    background-color: aliceblue;
} */

th,td {
    padding: 5px 6px;   
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}

tr:nth-child(even) {
    background-color: #AFD2E9;
    color:black;     
}

tr:nth-child(odd) {
    background-color: #c496c1;
    color:white;     
}

.row_image {
    height:70px;
}


/* FORM CSS */

label{
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover{
    transform: 1.01;
    transition-duration: 2s;
}


/* layout page */


.message { 
    background-color: red;
    margin-bottom: 0;
    padding: 1.5%;
}


img[alt=profile] {
    border-radius: 50%;
    aspect-ratio: 1 / 1;  /* Makes width and height the same */
    object-fit: cover;    /* Crops instead of squashing */
}



/* layout page nav */
.home {
    width: 67%;
    box-shadow: 0 0 20px black;
}

    .home-head {
        display: flex;
        align-items: center;
        height:300px;
        color:#4fd9b8;
        min-width: 500px;
        background-color: #9A7197;
        background-image: url("/static/images/concert.webp");
        background-size:     cover;                      
        background-repeat:   no-repeat;
        background-position: center center;
    }

    .head-text{ 
        margin-left: 10%;
        width: 100%;
    }

    .home-sub{
        background-color: white;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
        min-width: 400px;
    }

    .home-sub h1{
        margin-bottom: 40px;
    }

    .home .card{
        border-width: 2px;
        height: 170px;
    }

    .home button{
        border-color: transparent;
        background-color: #4fd9b8;
        border-radius: 7px;
        font-size: large;
        padding: 10px;
        left: 50%;
    }

        .home button a{
            color:black ;
            font-weight: 500;
        }



/* right-menu in navbar */
.right-menu{
    padding:13px;
}

.right-menu button {
    border-radius: 10px;
    margin-left:15px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:4px;
    padding-bottom:4px;
    border-color: transparent;
    background-color:#434178;
    transition: 0.7s;
    font-size: 17px;
}

.right-menu button:hover{
    box-shadow: 5px 5px #4fd9b8;
}

.right-menu button a{
    color: white;
}


/* sign-up and login */

.sign-container{
    background-color:  #4fd9b8;
    width: 40%;
    border-radius: 15px;
    padding:64px;
    margin-left:auto;
    margin-right: auto;
    margin-top:3%;
    min-width: 400px;
}

    .sign-container h1{
        margin-top: -10px;
    }

.submitform {
    border-radius: 10px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:4px;
    padding-bottom:4px;
    border-color: transparent;
    background-color:#434178;
    transition: 0.7s;
    font-size: 17px;
    color:white;
}

/*** ADD POST PAGE ***/

.addpost{
    width: 50%;
    margin: auto;
    margin-top:5%;

}
    .addpost form{
        height: 300px;
    }

    .addpost button{
        border-radius: 10px;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:4px;
        padding-bottom:4px;
        border-color: transparent;
        background-color:#434178;
        font-size: 17px;
        color:white;
    }

    .addpost label{
        font-weight: 600;
    }



/* view profile */


.view-profile img{
    margin-top: -60px;
    height: 130px;
    margin-bottom: 20px;
}

.view-profile{
    display: flex;
    justify-content: center;
    
}

.profile-text{
    text-align: center;
    color:#434178;
}

    .profile-text h3{
        font-weight: 400;
    }


.basic-info{
    color:black;
    border-width: 2px;
    border-color: white;
}


    .basic-info p{
        background-color:white;
        width:fit-content;
        padding:10px;
    }

.color-head{
    background-color: white;
    height: 220px;
    margin-top: -80px;
}

.basic-info{
    width:80%;
    margin: auto;
    text-align: left;
    font-weight: 300;
}

    .info-fields{
        margin-left: 30px;
        color:#434178;
        margin-top: 20px;
    }

/* Post Feed */

.rounded-circle{
    height:40px;
}


    .post{
        width: 100%;
    }

    .post-user{
        font-size: 30px;
        color:#AFD2E9;
    }
    .post-content{
        font-size: 18px;
        margin-left:10px;
    }


/* new ind feed */
.ind_post{
    width:50%;
    min-width: 500px;
    margin:auto;
    background-color:#434178;
    margin-top: 20px;
    color:white;
    padding:20px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}


.ind_post audio{
    margin: 20px;
    width:80%;
    min-width: 400px;
}


/* other */


    /* divider */
    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }


