/* new page css */

body{
    background-color: #4fd9b8;
  }
  
/* nav */
.navbar-logo img{
    height: 33px;
}

/* TABLE CSS */
table, th, td {
    border:1px solid black;
}

th { 
    background-color: #9A7197; 
    color: #AFD2E9;   
}
/* 
td { 
    background-color: aliceblue;
} */

th,td {
    padding: 5px 6px;   
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}

tr:nth-child(even) {
    background-color: #AFD2E9;
    color:black;     
}

tr:nth-child(odd) {
    background-color: #c496c1;
    color:white;     
}

.row_image {
    height:70px;
}


/* FORM CSS */

label{
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover{
    transform: 1.01;
    transition-duration: 2s;
}

/* Home page */

.home_head{ 
    background-color:#9A7197;
    color:#AFD2E9;
    padding: 2%;
}

.head_button{
    margin-top:2%;
}


/* layout page */


.message { 
    background-color: red;
    margin-bottom: 0;
    padding: 1.5%;
}


img[alt=profile] {
    border-radius: 50%;
    aspect-ratio: 1 / 1;  /* Makes width and height the same */
    object-fit: cover;    /* Crops instead of squashing */
}



/* layout page nav */

.right-menu button{
    margin-left: 1%;
}
.right-menu{
    justify-content: right;
    width:100px;
}