body{
    background-color: gainsboro;
    overflow-x:hidden;
  }

/* footer */
.footer{
    background-color: white;
    margin-top:30px;
    padding:5%;
}

/* like */

.like-active{
    background-color: gray;
 }
 
 .like-inactive{
     background-color: darkblue;
 }
  
/* nav */
.navbar-logo img{
    height: 37px;
}

.navbar-brand{
    font-size: 26px;
    font-weight: 40;
    margin-left: 6px;
}

.navbar {
    background-color: white;
    min-width: 500px;
    width:67%;
    margin: auto;
}

.navbar-nav{
    font-weight:300;
    font-size:20px;
    margin-left:10px;
}

/* TABLE CSS */
table, th, td {
    border:1px solid black;
}

th { 
    background-color: #9A7197; 
    color: #AFD2E9;   
}
/* 
td { 
    background-color: aliceblue;
} */

th,td {
    padding: 5px 6px;   
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}

tr:nth-child(even) {
    background-color: #AFD2E9;
    color:black;     
}

tr:nth-child(odd) {
    background-color: #c496c1;
    color:white;     
}

.row_image {
    height:70px;
}


/* FORM CSS */

label{
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover{
    transform: 1.01;
    transition-duration: 2s;
}


/* layout page */


img[alt=profile] {
    border-radius: 50%;
    aspect-ratio: 1 / 1;  /* Makes width and height the same */
    object-fit: cover;    /* Crops instead of squashing */
}



/* layout page nav */
.home {
    width: 67%;
    box-shadow: 0 0 20px black;
}

    .home-head {
        display: flex;
        align-items: center;
        height:300px;
        color:#4fd9b8;
        min-width: 500px;
        background-color: #9A7197;
        background-image: url("/static/images/concert.webp");
        background-size:     cover;                      
        background-repeat:   no-repeat;
        background-position: center center;
    }

    .head-text{ 
        margin-left: 10%;
        width: 100%;
    }

    .home-sub{
        background-color: white;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 40px;
        padding-bottom: 3%;
        min-width: 500px;
    }

    .home-sub .row{
        background-color: black;
        height:50px;
    }

    .home-sub h1{
        margin-bottom: 40px;
    }

    .home .card{
        border-width: 2px;
        height: 170px;
    }

    .home button{
        border-color: transparent;
        background-color: #4fd9b8;
        border-radius: 7px;
        font-size: large;
        padding:10px;
        margin-top: 10px;
    }

        .home button a{
            color:black ;
            font-weight: 400;
        }



/* right-menu in navbar */
.right-menu{
    padding:13px;
}

.right-menu button {
    border-radius: 10px;
    margin-left:15px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:4px;
    padding-bottom:4px;
    border-color: transparent;
    background-color:#434178;
    transition: 0.7s;
    font-size: 17px;
}

.right-menu button:hover{
    box-shadow: 5px 5px #4fd9b8;
}

.right-menu button a{
    color: white;
}


/* sign-up and login */

.login-container{
    background-color:  #4fd9b8;
    width: 17%;
    border-radius: 15px;
    padding:64px;
    margin-left:auto;
    margin-right: auto;
    margin-top:3%;
    min-width: 320px;
    margin-bottom: 20px;
}


    .login-container h1{
        text-align: center;
    }



.submitform {
    border-radius: 10px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:4px;
    padding-bottom:4px;
    border-color: transparent;
    background-color:#434178;
    transition: 0.7s;
    font-size: 17px;
    color:white;
}


.sign-container{
    background-color:  #4fd9b8;
    width: fit-content;
    border-radius: 15px;
    padding:64px;
    margin-left:auto;
    margin-right: auto;
    margin-top:3%;
    min-width: 320px;
    margin-bottom: 20px;
}

    .sign-container h1{
        text-align: center;
    }


/*** ADD POST PAGE ***/

.addpost{
    width: 40%;
    min-width: 400px;
    margin: auto;
    margin-top: 40px;
    background-color: grey;
    padding:20px;
    color:black;
}


    .addpost button{
        border-radius: 10px;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:4px;
        padding-bottom:4px;
        border-color: transparent;
        background-color:#434178;
        font-size: 17px;
        color:white;
    }

    .addpost label{
        font-weight: 600;
    }

.upload {
    background-color: #434178;
}


/* view profile */


.view-profile img{
    margin-top: -60px;
    height: 130px;
    margin-bottom: 20px;
}

.view-profile{
    display: flex;
    justify-content: center;
    
}

.profile-text{
    text-align: center;
    color:#434178;
}

    .profile-text h3{
        font-weight: 400;
    }

.profile-posts{
    background-color: gray;
    height:fit-content;
}

    .profile-posts p{
        text-align: center;
        padding: 20px;
        margin-top:20px;
        background-color: #D94F70;
        font-size: 30px;
    }

.basic-info{
    color:black;
    border-width: 2px;
    border-color: white;
}


    .basic-info p{
        background-color:white;
        width:fit-content;
        padding:10px;
    }

.color-head{
    background-color: white;
    height: 220px;
    margin-top: -80px;
}

.basic-info{
    width:80%;
    margin: auto;
    text-align: left;
    font-weight: 300;
}

    .info-fields{
        margin-left: 30px;
        color:#434178;
        margin-top: 20px;
    }

.updatebtn {
    border-radius: 4px;
    color:white;
    background-color: #434178;
    margin:auto;
}

/* Post Feed */


    .post{
        width: 100%;
    }

    .post-user{
        font-size: 30px;
        color:black;
        margin-top:10px;
    }
    .post-content{
        font-size: 16px;
        margin:20px;
        margin-top: -10px;
    }



/* new ind feed */
.ind_post{
    width:50%;
    min-width: 450px;
    margin: 0 auto;
    background-color:#434178;
    margin-top: 50px;
    margin-bottom:50px;
    color:white;
    box-shadow: 0 0 10px black;
    height: auto;

}

.song-title{
    color:black;
    margin-bottom: 30px;
    margin-top:-33px;
    margin-left:45px;

}

.left-post {
    padding:40px;
}

.view-post {
    float: right;
}

    .view-post a{
        color:black;
        
    }

.ind_post audio{

    width:90%;
    min-width: 230px;
}

.post-img{
    height:70px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:50%;
    margin:10px;
}

.post-buttons{
    margin-top:10px;

}

.postimg-container {
    height: 100%;
    overflow: hidden;

}

    .postimg-container audio{
        margin-left:5%;
        margin-top:40px;
    }

.post-user-details {
    background-color: #AFD2E9;
    color:black;
}


.page-head{
    width: 60%;
    min-width: 500px;
    background-color: white;
    margin:auto;
    margin-top:30px;
}

    .page-head p{
        padding:35px;
        font-size: 25px;
        font-weight: 600;
    }

/* DROP DOWN */
.dropdown {
    background-color: black;
    position: relative;
    width:50%;
    min-width: 500px;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/*css for a post*/

.post-content{
    background-color:white;
    color:#434178;
    padding:15px;
}

.post-genre{
    font-size: 13px;
    margin-bottom: 40px;
    margin-left:5%;
    color:black;
}

/** RIGHT PART OF THE POST **/
.row{
    --bs-gutter-x: 0rem !important;
}

.right-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    padding: 11%;
    min-width: 100%;
}

.right-post{
    background-color: #AFD2E9;
}


.postimg-container {
    height: 100%;
    overflow: hidden;
}

    .postimg-container audio{
        margin-left:5%;
        margin-top: -20px;
        margin-bottom: 20px;
    }

.mypost-btn{ 
    margin-top: 5px;    
}

    .mypost-btn button{
        margin-top:8px;
    }

.mypost-btn a{
    color:black;    
}

    .post-buttons button, .mypost-btn button, .updatebtn, .cmt-section button{ 
        border-radius: 10px;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:4px;
        padding-bottom:4px;
        border-color: transparent;
        background-color:white;
        font-size: 17px;
        color:#434178;

    }

    .updatebtn, .updatebtn a{ 
        margin:auto;
        color:black;
        margin-top:20px;
        font-size: 30px;
        padding:10px;
    }
    
    .joshbutton {
        text-align: center;
    }

.cmt-section{
    margin-top:10px;
}

    .cmt-section input{
        padding:8px;
        margin-bottom:5px;
        width: 100%;
    }


.comments{
    background-color:grey;
}

.ind-comment{
    background-color:#434178;
    color:white;
    margin:2px;
    border-radius: 3px;
    padding-left:7px;
}

.scrollcomments{
    overflow-x: hidden;
    overflow-y: auto;
    height:235px;
    padding:10px;
    background-color: #AFD2E9;
    
}

/* sign up and login forms */
.form-label{
    margin-top:9px;
    margin-bottom: -3px;
    font-weight:400;
}

.sign-inputs input{
    padding: 5px;
    
}

/* other */


    /* divider */
    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }


.alert {
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    text-align: center;
    list-style-type: none;
    font-size:20px;
    width: 100%;
    }
    
    .success {background-color: #04AA6D; padding:20px;}
    .info {background-color: #2196F3; padding:20px;}
    .warning {background-color: #ff9800; padding:20px;}
    
    .closebtn {
        color: white;
        font-weight: bold;
        float: right;
        font-size: 30px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .closebtn:hover {
    color: black;
    }

    .flashes {
        list-style-type: none;
        width:100%;
    }