<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>User Management</title>
    <link rel="icon" type="image/x-icon" href="static/images/b_logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://kit.fontawesome.com/92d9c4ad55.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
        <div class="navbar-logo"><a href="/"><img src="/static/images/b_logo.png" alt="Logo"></a></div>
          <a class="navbar-brand" href="/">BeatBulletin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                {% if session["logged_in"] %}
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/feed" onclick=navFull()>Feed</a>
                </div>
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/my_posts">My Posts</a>
                </div>
                {% else %}

                {% endif %}
            </div>
            <div class="right-menu">
                {% if session["logged_in"] %}
                <button class="upload-btn"><a href="/post/add">Upload</a></button>
                <button class="profile-btn"><a href="/viewprofile">My Profile</a></button>
                <button><a href="/logout">Logout</a></button>
                {% else %}
                <div class="right-button">
                    <button><a href="/login">Login</a></button>
                    <button><a href="/signup">Sign Up</a></button>
                </div>
                {% endif %}
            </div>
        </div>
      </nav>



    {% for message in get_flashed_messages() %}
        <h4 class = "message">{{message}}</h4>
    {% endfor %}


    <!--body info goes in here-->
    {% block content %}
    
    {% endblock %}


    <script>
        function navFull() {
            document.getElementsByClassName("navbar").style.width = "100%";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
  
    
</body>
</html>
