{% extends "_layout.html" %}

{% block content %}
<div class="ind_post">
  <div class = "row">
    <div class = "col-md-6 left-post">
      <!-- Usable hidden fields -->
      <input name="id" value ="{{ session['id']}}" type = "hidden">
      <input name="post_id" value ="{{ result2['post_id']}}" type = "hidden">
      <input name="user_id" value ="{{ result2['user_id']}}" type = "hidden">

      <a><img class="post-img" src ="{{ result2["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
      <a class="post-user">{{ result2["username"]}}</a><br>

      <audio controls class="post-audio">
        <source name="audio" value = "{{ result2["audio"]}}" src="{{ result2["audio"]}}">
      </audio>

      <div class="post-content">{{ result2["content"]|safe }}</div>
      <div class="post-genre">Genre : {{ result2["genre"]}}</div>
      <button><a href="/viewprofile">Back</a></button>

    </div>
    <div class = "col-md-6 album-cvr">
      <div class = "postimg-container">
        <img class="right-image" src="{{ result2["cover_img"] or '/static/images/noimage.png'}} " alt = "cover-image">
      </div>
    </div>
  </div>
</div>

  <div class = "sign-container">
    <form method='POST' enctype="multipart/form-data">
        <h1>Edit Post</h1><br>
        <input name="post_id" value ="{{ result['post_id']}}" type = "hidden">
        <input name="old_image" type="hidden" value = "{{ result['image'] or 'None'}}">

        <!-- Personal -->
        <label for="content">Edit Description: </label><br />
        <input type="text" id="content" name="content"/><br />

        <label for="cvrimage">Change Profile Picture </label><br />
        <input type="file" id="cvrimage" name="cvrimage"/><br /><br>

        <a href="/my_posts/edit?id={{result2["post_id"]}}">
          <input class="submitform" type="submit" value="Complete Update"/>
        </a>
    </form>
  </div>


{% endblock %}