{% extends "_layout.html" %}

{% block content %}
    <div class="page-head">
      <p>Your Feed</p>
    </div>
    {% for _, row in result|groupby('post_id')|reverse %}
    <div class="ind_post">
      <div class="row">
        <div class="col-sm-6 left-post">
          {% set post = row[0] %}
            <a href="/view?id={{ post["user_id"]}}"><img class="post-img" src ="{{ post["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
            <a href="/view?id={{ post["user_id"]}}"" class="post-user">{{ post["username"]}}</a><br> 
            <audio controls class = "post-audio">
                <source src="{{ post["audio"] or 'None'}}">
              </audio>
            <div class="post-content"> {{ post["content"]|safe }} </div>
            <div class="post-genre">Genre : {{post["genre"]}}</div>

            <div class = "post-buttons">
                <form action="/feed/like" method="POST">
                  <input name="post_id" value ="{{ post['post_id']}}" type = "hidden">   
                  {% if session["liked"] %}
                  <button class="like-active" type="submit" name = "action" ><i class="fa-solid fa-thumbs-up"></i></button>
                  {% else %}
                  <button class="like-inactive" type="submit" name = "action" value="like"><i class="fa-solid fa-thumbs-up"></i></button>
                  {% endif %}
                  <button type="submit" name = "action" value="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                </form>
                Likes: {{ post["likes_count"]|default(0) }}
            </div>

            <div class="mypost-btn" style>
              <button><a href="/view_post?id={{ post["post_id"]}}">View Post</a></button>
            </div>

          <div class="cmt-section"> 
            <h4>Comments:</h4>
          {% for comment in row %}
              <div class="ind-comment">
                <h>{{ comment["username"] }}</h5>
                <p>{{ comment["comment"] }}</p>
              </div>
          {% endfor %}

            <form action="/feed/comment">  
                <input name="post_id" value ="{{ post['post_id']}}" type = "hidden"> 
                <input type="text" id="comment" name="comment" placeholder="Add a comment"/><br />
                <button type="submit">Comment</button>
            </form>
          </div>
        </div>
        <div class = "col-md-6 album-cvr">
          <div class = "postimg-container">
            <img class="right-image" src="{{ post["cover_img"] or '/static/images/noimage.png'}} " alt = "cover-image">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}
