{% extends "_layout.html" %}


{% block content %}

{% if session["logged_in"] %}


{% else %}
<div class="container home-head">
    <div class="head-text">
        <h1>Listen to music for free!</h1>
        <h4>Anywhere, Anytime.</h4>
    </div>
</div>
{% endif %}


<!-- {% if not session["logged_in"] %}
<button class = "head_button"><a href='/signup'> Sign Up </a></button>
<button class = "head_button"><a href='/login'> Log In </a></button>
{% elif session['role'] == "admin" %}
<button class = "head_button"><a href='/signup'> Add user </a></button>
{% endif %} -->







{% endblock %}