{% extends "_layout.html" %}


{% block content %}

{% if session["logged_in"] %}


{% else %}
<div class="container home-head home">
    <div class="head-text">
        <h1>Listen to music for free!</h1>
        <h4>Anywhere, Anytime.</h4>
    </div>
</div>
<div class="container home-sub home">
    <h1>Trending Music 2023</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img alt="1">
            </div>
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img alt="1">
            </div>
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img alt="1">
            </div>
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Atque, id aperiam? Illo, voluptatem, mol
            litia veritatis quis odio eaque dignissimos harum corr
            upti obcaecati officiis facere enim totam, saepe natus optio hic.
        </div>
    </div>
    <button><a href = "/signup">Sign up to gain access to more music</a></button>
</div>
{% endif %}


<!-- {% if not session["logged_in"] %}
<button class = "head_button"><a href='/signup'> Sign Up </a></button>
<button class = "head_button"><a href='/login'> Log In </a></button>
{% elif session['role'] == "admin" %}
<button class = "head_button"><a href='/signup'> Add user </a></button>
{% endif %} -->







{% endblock %}