{% extends "_layout.html" %}

{% block content %}
<body style="background-color: white;">

<div class = "sign-container">
    <form method='POST'>
        <label for="email">Email: </label><br />
        <input type="email" id="email" name="email" placeholder="username@gmail.com" /><br />

        <label for="password">Create a password: </label><br />
        <input type="password" id="myInput" name="password" required/><br /><input type="checkbox" onclick="myFunction()"> Show Password<br /><br />

        <input type="submit" value="Complete Log In" />
    </form>
</div>
</body>

{% endblock %}
