{% extends "_layout.html" %}

{% block content %}
    {% for row in result %}
        <div class="ind_post">
          <a><img class="rounded-circle" src ="{{ row["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
          <a class="post-user">{{ row["username"]}}</a><br>
          genre : {{row["genre"]}}
          <div class="post-content">{{ row["content"]|safe }}</div>
          
          <audio controls>
            <source src="{{ row["audio"] or 'None'}}">
          </audio>
          <div>
            <i class="fa-regular fa-thumbs-up"></i>
          </div>
          <button><a href="/delete?id={{ row["user_id"]}}" onclick="return confirm('Are you sure?')">Delete Post</a></button>
        </div>
    {% endfor %}


{% endblock %}
