{% extends "_layout.html" %}

{% block content %}
    {% for row in result|reverse %}
        <div class="ind_post">
          <div class = "row">
            <div class = "col-md-6 left-post">
              <!-- Usable hidden fields -->
              <input name="id" value ="{{ session['id']}}" type = "hidden">
              <input name="post_id" value ="{{ result['post_id']}}" type = "hidden">

              <a><img class="post-img" src ="{{ row["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
              <a class="post-user">{{ row["username"]}}</a><br>
              genre : {{row["genre"]}}
              <div class="post-content">{{ row["content"]|safe }}</div>
              
              <audio controls>
                <source name="audio" value = "{{ row["audio"]}}" src="{{ row["audio"]}}">
              </audio>
              <div>
                <i class="fa-regular fa-thumbs-up"></i>
              </div>
            
              <button class="delbtn"><a href="/delete?id={{ row["post_id"]}}&audio={{ row["audio"]}}" onclick="return confirm('Are you sure?')">Delete Post</a></button>

              <button class="updatebtn"><a href="/my_posts/edit?id={{ row["post_id"]}}&audio={{ row["audio"]}}" >Edit Post</a></button>
            </div>
            <div class = "col-md-6 album-cvr">
              <div class = "postimg-container">
                <img class="right-image" src="{{ row["cover_img"] or '/static/images/noimage.png'}} " alt = "cover-image">
              </div>
            </div>
          </div>
        </div>
    {% endfor %}


{% endblock %}
