{% extends "_layout.html" %}

{% block content %}
<div class="page-head">
    <p>Upload Post</p>
</div>

<div class="addpost">
    <form method="post" enctype="multipart/form-data">
        <label for="content">Caption</label><br>
        <textarea id="editor" name="content"></textarea><br>


        <label for="audio">Attach Audio Here:</label><br />
        <input type="file" id="audio" name="audio" required accept="audio/*"/><br /><br>

        <label for="genre">Genre</label><br />
        <input type="text" id="genre" name="genre" placeholder="e.g Rock, Hip Hop, etc."/><br /><br>

        <label for="song">Song Name:</label><br />
        <input type="text" id="song" name="song" required/><br /><br>

        <label for="artist">Artist Name:</label><br />
        <input type="text" id="artist" name="artist"/><br /><br>

        <label for="cover_img">Upload a cover image</label><br>
        <input type="file" id="cover_img" name="cover_img" accept="image/*"><br><br>

        <button type="submit">Submit  <i class="fa-solid fa-upload"></i></button>
    </form>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
<script>ClassicEditor.create(document.querySelector('#editor'));</script>
{% endblock %}
