{% extends "_layout.html" %}

{% block content %}

<h1 class="home_head">SIGN UP FORM</h1>


<button><a href='/'> HOME </a></button><br><br>

<form method='POST' enctype="multipart/form-data">
    <!-- Personal -->
    <label for="first_name">First Name: </label><br />
    <input type="text" id="first_name" name="first_name" required /><br />

    <label for="last_name">Last Name: </label><br />
    <input type="text" id="last_name" name="last_name" required /><br />

    <label for="email">Email: </label><br />
    <input type="email" id="email" name="email" placeholder="username@gmail.com" /><br />

    <label for="password">Create a password: </label><br />
    <input type="password" id="myInput" name="password" required/><br /><input type="checkbox" onclick="myFunction()"> Show Password<br /><br />

    <label for="dateofbirth">Date of Birth: </label><br />
    <input type="date" id="dateofbirth" name="dateofbirth" required /><br /><br>

    <label for="image">Profile Picture </label><br />
    <input type="file" id="profilepicture" name="image"/><br /><br>

    <input type="submit" value="Complete Sign up"/>
</form>



{% endblock %}


{# {% for arg in request.args %}

{{ arg }} : {{ request.args[arg]}}
<br />

{% endfor %} #}

        {# <!-- Multiple Selection -->
        <label>What is your Ethnicity? </label><br />

        <input type="checkbox" id="asian" name="ethnicity" value="Asian">
        <label for="asian">Asian</label><br>

        <input type="checkbox" id="african" name="ethnicity" value="African">
        <label for="african">African</label><br>

        <input type="checkbox" id="european" name="ethnicity" value="European">
        <label for="european">European</label><br />

        <input type="checkbox" id="maori" name="ethnicity" value="Maori">
        <label for="maori">Maori</label><br />

        <input type="checkbox" id="pasifika" name="ethnicity" value="Pasifika">
        <label for="pasifika">Pasifika</label><br /><br /> #}

        
        {# <label>Feedback rating</label><br />
        <input name="rating" type="range" min="0" max="5" /><br /><br />

        <textarea name="message" rows="10" cols="30">THANK YOUR FOR YOUR INPUT!
        </textarea><br /><br /> #}