{% extends "_layout.html" %}

{% block content %}
<body style="background-color: #4fd9b8;">

<div class="color-head"></div>
<div class="view-profile"> 
    <img src = "{{ result["image"] or '/static/images/dftpfp.png' }}" alt = "profile">
</div>

<h2 style="text-align: center; color:#434178;margin-bottom:20px;">{{ result["first_name"]}} {{ result["last_name"]}}</h2>

<div class="profile-info">
    <div class="row profile-text">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h3>Basic Information</h3>
            <div class="basic-info border">
                <div class="info-fields"> 
                    <h4>Full Name</h4><p>{{ result["first_name"]}} {{ result["last_name"]}}</p>
                    <h4>Username</h4><p>{{ result["username"] }}</p>
                    <h4>Date of Birth</h4><p>{{result["dateofbirth"]}}</p> 
                    <h4>Change Password</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Contact Information</h3>
            <div class="basic-info border">
                <div class="info-fields"> 
                    <h4>Email</h4><p>{{result["email"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="joshbutton">
  <button class="updatebtn"><a href="/update?id={{ result["id"]}}">Update Profile</a></button>
</div>

</body>

<div class="page-head">
    <p> Your Posts </p>
</div>

{% for row in result2|reverse %}
<div class="ind_post">
  <div class = "row ">
    <div class = "col-md-6 left-post">
      <!-- Usable hidden fields -->
      <input name="id" value ="{{ session['id']}}" type = "hidden">
      <input name="post_id" value ="{{ row['post_id']}}" type = "hidden">

      <a><img class="post-img" src ="{{ row["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
      <a class="post-user">{{ row["username"]}}</a><br>

      <audio controls class="post-audio">
        <source name="audio" value = "{{ row["audio"]}}" src="{{ row["audio"]}}">
      </audio>

      <div class="post-content">{{ row["content"]|safe }}</div>
      <div class="post-genre">Genre : {{row["genre"]}}</div>
        Likes: {{ row["likes_count"]|default(0) }}
      <div class="mypost-btn">
        <button class="delbtn"><a href="/delete?id={{ row["post_id"]}}&audio={{ row["audio"]}}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i></a></button>
        <button class="delbtn"><a href="/my_posts/edit?id={{ row["post_id"]}}" ><i class="fa-solid fa-pen-to-square"></i></a></button>
        <button><a href="/view_post?id={{ row["post_id"]}}">View Post</a></button>
      </div>  
    </div>
    <div class = "col-md-6 album-cvr">
      <div class = "postimg-container">
        <img class="right-image" src="{{ row["cover_img"] or '/static/images/noimage.png'}} " alt = "cover-image">
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}