{% extends "_layout.html" %}


{% block content %}

<table>
    <tr> 
        <th>Profile Picture</th>
        <th colspan="2">Name (First + Last Name)</th>
        <th>Email</th>
        <th colspan='3'>Actions</th>
    </tr>
    
    <tr class="datarow">
        <td><img src = "{{ result["image"] or 'static/images/dftpfp.png' }}" alt = "profile" class = "row_image"></td>
        <td>{{ result["first_name"] }}</td>
        <td>{{ result["last_name"] }}</td>
        <td><a href = "mailto: {{ result["email"] }}">{{ result["email"] }}</a></td>
        <!-- Actions -->
        <td>
            <a href = "/delete?id= {{ result["id"] }}" onclick = "return confirm('Confirm delete')">Delete</a>
        </td>
        <td>
            <a href = "/update?id= {{ result["id"] }}">Edit</a>    
        </td>
        <td>
            <a href = "/">Back</a>    
        </td>
    </tr>
</table>

{% for row in result2|reverse %}
<div class="ind_post small-post">
  <div class = "row ">
    <div class = "col-md-6 left-post">
      <!-- Usable hidden fields -->
      <input name="id" value ="{{ request.args['id']}}" type = "hidden">
      <input name="post_id" value ="{{ row['post_id']}}" type = "hidden">

      <a><img class="post-img" src ="{{ row["image"] or '/static/images/dftpfp.png'}}" alt="profile-picture"></a>
      <a class="post-user">{{ row["username"]}}</a><br>

      <audio controls class="post-audio">
        <source name="audio" value = "{{ row["audio"]}}" src="{{ row["audio"]}}">
      </audio>

      <div class="post-content">{{ row["content"]|safe }}</div>
      <div class="post-genre">Genre : {{row["genre"]}}</div>

      <div class="mypost-btn">
        <button class="delbtn"><a href="/delete?id={{ row["post_id"]}}&audio={{ row["audio"]}}" onclick="return confirm('Are you sure?')">Delete Post</a></button>
        <button class="updatebtn"><a href="/my_posts/edit?id={{ row["post_id"]}}" >Edit Post</a></button>
        <button><a href="/view_post?id={{ row["post_id"]}}">View Post</a></button>
      </div>  
    </div>
    <div class = "col-md-6 album-cvr">
      <div class = "postimg-container">
        <img class="right-image" src="{{ row["cover_img"] or '/static/images/noimage.png'}} " alt = "cover-image">
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}