{% extends "_layout.html" %}

{% block content %}
<body style="background-color: #4fd9b8;">

<div class="color-head"></div>
<div class="view-profile"> 
    <img src = "{{ result["image"] or '/static/images/dftpfp.png' }}" alt = "profile">
</div>

<h2 style="text-align: center; color:white;margin-bottom:20px;">{{ result["first_name"]}} {{ result["last_name"]}}</h2>

<div class="profile-info">
    <div class="row profile-text">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h3>Basic Information</h3>
            <div class="basic-info border">
                <div class="info-fields"> 
                    <h4>Full Name</h4><p>{{ result["first_name"]}} {{ result["last_name"]}}</p>
                    <h4>Username</h4><p>{{ result["username"] }}</p>
                    <h4>Date of Birth</h4><p>{{result["dateofbirth"]}}</p> 
                    <h4>Change Password</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Contact Information</h3>
            <div class="basic-info border">
                <div class="info-fields"> 
                    <h4>Email</h4><p>{{result["email"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<!-- <div class="viewprofile">
    <table>
        <tr> 
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
            <th colspan='3'>Actions</th>
        </tr>

        <tr class="datarow">
            <td><img src = "{{ result["image"] or 'static/images/dftpfp.png' }}" alt = "profile" class = "row_image"></td>
            <td>{{ result["first_name"] }}</td>
            <td>{{ result["last_name"] }}</td>
            <td>{{ result["username"] }}</td>
            <td><a href = "mailto: {{ result["email"] }}">{{ result["email"] }}</a></td>
            <td>
                <a href = "/update?id= {{ result["id"] }}">Edit</a>    
            </td>
        </tr>
    </table>
<div>
<div class="view-profile">
    <div class="row">
        <div class="col-md-4">
            <img src = "{{ result["image"] or 'static/images/dftpfp.png' }}" alt = "profile" class = "row_image">
        </div>
    </div>
</div>
<audio controls>
    <source src="{{ result["audio_path"]}}">
</audio> -->

</body>
{% endblock %}